#mlist_tabs{margin-top:5px}#mlist_tabs
li{text-align:center}#mlist_tabs li
a{padding:5px
8px}div#member_filters{margin-top:10px;margin-bottom:15px}div#member_filters
fieldset.other_filters{text-align:center;padding:9px;margin-top:10px;clear:both}div#member_filters
fieldset.submit{padding:6px}div#member_filters
ul{margin-bottom:12px;margin-top:8px;width:49%;float:left}div#member_filters
li{margin-right:20px;padding:8px
0 8px 0;clear:both}div#member_filters li
.desc{margin:0;display:inline}div#member_filters
label{text-align:right;margin-right:15px;width:150px;display:block;float:left;line-height:26px}div#member_filters li.field.custom input[type=text],
div#member_filters li.field.custom
textarea{width:50%}div#member_filters li.field.custom
.input_check{width:5%}